---
layout: page
title: Tag Index
permalink: /tags/
---

<article class="entry">
    <div class="entry-wrapper">

        {% for tag in site.tags %}
            {% assign t = tag | first %}
            {% assign posts = tag | last %}

            <h4 id="{{ t }}" class="post-tag">{{ t | upcase }}</h4>

            <ul class="post-list">
                {% for post in posts %}
                    {% if post.tags contains t %}
                        <li>
                            
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                <i class="fa fa-angle-right" style="margin-right: 4px;"></i> {{ post.title }} <span class="entry-date to-right"><time datetime="{{ post.date }}">{{ post.date | date: '%B %d, %Y' | upcase }}</time></span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}

    </div>
</article>
