<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-social">
      {% if site.twitter_username %}
      <a href="http://twitter.com/{{ site.twitter_username }}" title="Matheus Sampaio no Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      {% endif %}
      {% if site.github_username %}
      <a href="http://github.com/{{ site.github_username }}" title="Matheus Sampaio no Github" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      {% endif %}
    </div>

    <div class="footer-description">
      <p class="text">{{ site.footer_description }}</p>
    </div>

  </div>

</footer>
