<header class="site-header">

  <div class="wrapper">

    <!-- <div class="master-header"> -->
      <div class="wrap">
        <a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}">
          <!-- <img src="http://jeffreysambells.com/img/avatar-300.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"> -->
        </a>
      </div>

      <div class="header-title animated fadeIn"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></div>
      <p class="header-description animated fadeIn">{{ site.description }}</p>
  </div>

</header>
