/**
 * Site header
 */
.site-header {
    border-top: 5px solid $brand-color-visited;
    min-height: 56px;
    text-align: center;

    // Positioning context for the mobile navigation icon
    position: relative;

    .header-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;

        > a {
            // color: #fff;
            font-weight: normal;
        }

        @include media-query($on-laptop) {
            font-size: 36px;
        }

        &,
        &:visited {
            color: $grey-color-dark;
        }
    }

    .header-description {
        font-size: 16px;
        font-style: italic;
    }

    .site-logo img {
        width:100px;
        height:100px;
        border:4px solid #fff;
        -webkit-border-radius:100px;
        -moz-border-radius:100px;
        border-radius:100px;
        -webkit-animation-delay:.05s;
        -moz-animation-delay:.05s;
        -o-animation-delay:.05s;
        animation-delay:.05s;
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        -o-animation-duration:1s;
        animation-duration:1s
    }

    .wrapper {
        margin-top: $spacing-unit;
    }
}



/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid darken($text-color, 20%);
    padding: $spacing-unit 0;
    text-align: center;

    .footer-social {
        margin-bottom: $spacing-unit / 2;

        > a {
            margin-right: $spacing-unit / 2;
        }
    }

    .footer-description {
        font-size: 16px;
        font-style: italic;
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 4;
        border-bottom:1px solid rgba(250,250,250,0.1);

        > span {
            float:right
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Entry
 */
.entry-wrapper {
    .entry-header {

    }

    .entry-content {

    }

    .entry-date {
        font-size: 14px;
        float:right;
    }

}

.pagination {
    text-align:center
}

.btn {
    display:inline-block;
    padding: 8px 20px;
    margin-top: $spacing-unit / 2;
    font-size: 14px;
    color: $brand-color;
    background-color: $grey-color-light;
    border: 2px solid $grey-color-dark !important;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;

    &:visited {
        color: $brand-color-visited;
        background-color: darken($grey-color, 15%);
    }

    &:hover {
        color: $brand-color-hover;
        // border: 2px solid $grey-color-light !important;
        // background: lighten($grey-color-dark, 5%);
    }
}


